{
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ],
  "plugins": [
    ["react-transform", {"transforms": [
      {"transform": "react-transform-catch-errors", "imports": ["react", "redbox-react"]}
    ]}],
    "./tools/babel-relay-plugin",
    "react-hot-loader/babel",
    "transform-runtime"
  ]
}
