{
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ],
  "plugins": [
    "./tools/babel-relay-plugin",
    "transform-decorators-legacy",
    "react-hot-loader/babel",
    "transform-runtime"
  ]
}
