.login-page {
  background: #43525A;
  padding-top: 100px;
  height: 100%;
}

.login-panel {
  padding: 0;

  .kep-login-facebook {
    margin-top: 15px;
  }

  .title {
    margin: 0;
    padding: 25px;
  }

  .body {
    padding: 15px;
  }
}
